.project-container {
  width: 100%;
}

.my-projects-heading {
  margin-bottom: auto;
}

.projects {
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-1, .project-2, .project-3, .portfolio {
  text-align: center;
  width: 200px;
  height: 410px;
  background-color: #2568FB;
  border: 10px solid #fff;
  margin: 30px;
  font-size: 10px;
}

h2 {
  text-align: center;
}

#firstProject, #secondProject, #project3, #project4 {
  display: flex;
  object-position: top;
  width: 100%;
  object-fit: contain;
}

#project1Text, #project2Text, #project3Text, #project4Text {
  margin: 10px;
  font-size: 11px;
}

button {
  background-color: #FECD45;
  border: none;
  margin: 5px;
  border-radius: 5px;
  padding: 5px;
}

#project1-button {
  margin-top: 85px;
}

#project2-button {
  margin-top: 98px;
}

#project4-button {
  margin-top: 112px;
}

#project1-button:hover, #project2-button:hover, #project3-button:hover, #project4-button:hover {
  background-color: #FFC011;
  cursor: pointer;
}


@media only screen and (max-width: 1024px) {
  .project-1, .project-2, .project-3, .portfolio {
    margin: 5px;
    height: 585px;
  }
  #project1-button {
    margin-top: 255px;
  }
  #project2-button {
    margin-top: 269px;
  }
  .project3-buttons {
    margin-top: 180px;
  }
  #project4-button {
    margin-top: 283px;
  }
}

@media only screen and (max-width: 800px) {
   .project-1, .project-2, .project-3, .portfolio {
    margin: 5px;
    height: 585px;
  }
  #project1-button {
    margin-top: 127px;
  }
  #project2-button {
    margin-top: 170px;
  }
  .project3-buttons {
    margin-top: 10px;
  }
  #project4-button {
    margin-top: 233px;
  } 
}

@media only screen and (max-width: 415px) {
   .project-1, .project-2, .project-3, .portfolio {
    margin: 5px;
    height: 585px;
  }
  #project1-button {
    margin-top: 90px;
  }
  #project2-button {
    margin-top: 136px;
  }
  .project3-buttons {
    margin-top: 5px;
  }
  #project4-button {
    margin-top: 195px;
  } 
}
