h1, .about-picture {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-picture {
    height: 300px;
}

.text-section {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 350px;
    word-wrap: break-word;
}
