.about-container {
  width: 100%;
}

#aboutMeHeader {
  margin: 90px;
}

h1,
.about-picture {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-picture {
  height: 300px;
}

.text-section {
  margin-left: auto;
  margin-right: auto;
  margin-top: 45px;
  width: 500px;
  height: 350px;
  word-wrap: break-word;
}

#myPicture {
  height: 350px;
  margin-bottom: 50px;
  margin-right: 31px;
}

@media only screen and (max-width: 800px) {
  #aboutMeHeader {
    display: flex;
    padding-right: 150px;
    width: 100%;
    color: #2568fb;
    font-size: 64px;
    font-weight: bold;
  }

  #myPicture {
    height: 300px;
    margin-left: auto;
    margin-right: auto;
  }

  .text-section {
    width: 450px;
  }
}
